################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CGPA-Calc/.vs/CGPA-Calc/FileContentIndex/a1f864ff-2a37-41d4-88a0-964eba36843a.vsidx
/CGPA-Calc/.vs/CGPA-Calc/FileContentIndex/9b0b28dc-c2a3-4728-90fd-b092c86dd89c.vsidx
