################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CGPA-Calc/.vs/CGPA-Calc/FileContentIndex/a1f864ff-2a37-41d4-88a0-964eba36843a.vsidx
